<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="testpackage_popup" frontName="testpackage_popup">
            <module name="TestPackage_Popup" before="Magento_Backend" />
        </route>
    </router>
</config>
